/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.full {
	background-color: #f7f7f7
}

.header_image_box {
	position: relative;
	background-color: #FFFFFF;
	max-height: 500px;
	height: 50vh;
}

.header_image {
	/*width: 100%;*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	border-bottom-right-radius: 40vw;
	/*border-top-left-radius: 100px;*/
	box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.25);
	background: url(home.jpg);
	background-size: cover;
	background-position: center;
}

.header_bar {
	height: 100px;
	width: 100%;
	background-color: #FFFFFF;
	position: relative;
	padding-top: 20px;
	padding-left: 100px;
	box-sizing: border-box;
	box-shadow: 1px 3px 3px rgba(0,0,0,0.25);
}

.avatar {
	/*height: 15%;*/
	width: 15%;
	border-radius: 100%;
	margin-right: 10%;
	float: right;
	position: absolute;
	bottom: -50px;
	right: 0px;
	min-width: 125px;
}

.option_grid {
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*grid-template-rows: 100%;*/
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 75px;
	margin-bottom: 100px;
	justify-content: space-between;
	align-content: stretch;
/*	position: relative;
	top: 40px;
	height: auto;*/
}

.title {
	margin-left: 10%;
	margin-right: 30%;
	margin-bottom: 10px;
	position: absolute;
	bottom: 10px;
}




/* A CARD STYLE FLEX BOX */

.project_grid {
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*grid-template-rows: 100%;*/
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 75px;
	margin-bottom: 100px;
	justify-content: space-between;
	align-content: stretch;
/*	position: relative;
	top: 40px;
	height: auto;*/
}

.project {
	width: 300px;
	height: 200px;
	background-color: #FFFFFF;
	flex-grow: 1;
	border-radius: 10px;
}

.project_text_holder {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	height: 20%;
	width: 100%;
}

.project:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.project img {
	object-fit: cover;
	width: 100%;
	height: 80%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	/*margin-bottom: 0;*/
}

.project_text_holder h4 {
	color: #555555;
	font-family: Rubik;
	font-weight: 500;
	margin-top: -8px;
}





.section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	height: 25vh;
	/*width: 100%;*/
	padding-left: 10%;
	padding-right: 10%;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  	clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  	margin-top: -22px;
}

.a {
	background-color: #70ae6e;
}

.b {
	background-color: #3c6e71;
}

.c {
	background-color: #483c46;
}

.section h1 {
	color: white;
	font-family: Rubik;
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
	font-weight: 700;
}

.section p {
	color: white;
	font-family: Roboto;
	font-size: 20px;
}

.section img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

h1 {
	font-family: "Rubik";
	font-weight: 400;
	color: #FFFFFF;
	font-size: 80px;
}

h2 {
	font-family: "Rubik";
	font-weight: 400;
	color: #FFFFFF;
	font-size: 31px;
	font-style: italic;
}

h3 {
	font-family: "Rubik";
	font-size: 24px;
	font-weight: 400;
}

p {
	font-family: "Roboto";
	font-size: 20px;
	font-weight: 400;
	color: white;
}

a {
	text-decoration: none;
}

a:visited{
	color:white;
}

a:hover {
	color:#e59f71;
}

.shadowed {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.13);
}
