/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--header:#c8965a;
    --film:#FF0062;
    --code:#07ec5f;
    --design:#FFC400;
    --photography:#3EDAFF;


    --header-back:#252543;
    --film-back:#860034;
    --code-back:#00521F;
    --design-back:#A26900;
    --photography-back:#2837AA;

    --inactive: rgba(255, 255, 255, 0.5);;
    --active: white;

    --textwhite:rgba(255, 255, 255, 0.8);
    --back:#040038;

    --footer:#17172a;
}

[data-theme="light"] {
	--header:#394AB5;
    --film:#FF84B3;
    --code:#73d697;
    --design:#FFC476;
    --photography:#8394FF;

    --header-back:#EAEAF0;
    --film-back:#EEE3E7;
    --code-back:#E4EEE8;
    --design-back:#F0ECE5;
    --photography-back:#E5E6F2;

    --inactive: rgba(68, 68, 68, 0.3);
    --active: rgba(68, 68, 68, 1);

    --textwhite:rgba(0, 0, 0, 0.6);
    --back:#040038;

    --footer:#a6b2c8;
}

[data-theme="dark"] {
	--header:#d59e5d;
    --film:#FF84B3;
    --code:#81FFAF;
    --design:#FFC476;
    --photography:#8394FF;

    --header-back:#22222e;
    --film-back:#2f171b;
    --code-back:#122118;
    --design-back:#221b15;
    --photography-back:#14182b;

    --inactive: rgba(255, 255, 255, 0.5);;
    --active: white;

    --textwhite:rgba(255, 255, 255, 0.9);
    --back:#040038;

    --footer:#00120b;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}



.full {
	background-color: black;
}


.pad {
	padding-left: 20%;
	padding-right: 20%;
}

@media (max-width: 576px) {
	.pad {
	padding-left: 1.5em;
	padding-right: 1.5em;
	}

    #theme_box {
        left: 92vw;
    }

    header {
        padding-bottom: 2em;
        padding-top: 2em;
    }

    .visuals {
        position: absolute;
        right: 1.5em;
        bottom: 2em;
        width: 20%;
    }

    .avatar {
        width: 100%;
    }
}

@media (min-width: 576px) {
	/* header div p {
	max-width: 500px;
	} */
    .pad {
        padding-left: 14%;
        padding-right: 14%;
    }

    header {
        padding-bottom: 3em;
        padding-top: 3em;
    }

    #theme_box {
        left: 92vw;
    }

    .bio {
        max-width: 500px;
    }

    .avatar {
        width: 180px;
        height: 180px;
    }

    header {
        padding-bottom: 4em;
    }
}

@media (max-width: 1000px) and (min-width: 576px) {
	/* header div p {
	max-width: 500px;
	} */
    .pad {
        padding-left: 14%;
        padding-right: 14%;
    }

    .visuals {
        bottom: 4em;
        right: 14%;
    }
}

@media (max-width: 1000px) {

    header p {
        max-width: auto;
    }

    #theme_box {
        left: 92vw;
    }

    .visuals {
        position: absolute;
        margin: 0 0 0 0px;
    }

    header {
        display: block;
    }
}

@media (min-width: 1000px) {
    .bio {
        max-width: 500px;
    }
}



@media (min-width: 1170px) {
    .pad {
        padding-left: 20%;
        padding-right: 20%;
    }
    #theme_box {
        left: 82vw;
    }
}

header {
/*	padding-left: 20%;
	padding-right: 20%;*/
	color: #EEF4ED;
	background-color: var(--header-back);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

footer {
	/*margin-top: -30px;*/
	padding-top: 50px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 50px;
	text-align: center;
	background-color: var(--footer);
	color: var(--textwhite);
	font-weight: 700;
}

h1 {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 5em;
	margin-bottom: 0.1em;
	color: var(--header);
    display: inline-block;
}


h3 {
	font-family: "Karla";
	font-size: 20px;
	line-height: 1.25;
	/*font-weight: normal;*/
	color:var(--textwhite);
	/*padding-bottom: 1vh;*/
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p {
	font-family: "Karla";
	font-size: 20px;
	line-height: 1.1;
	font-weight: 400;
	color:var(--textwhite);
	margin-bottom: 1em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* .title {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	position: absolute;
	bottom: 10px;
} */

.visuals {
    max-width: 500px;
    /* margin: 0 auto; */
    /* float: right; */
}

.avatar {
    border-radius: 12px;
    opacity: 90%;
    vertical-align: text-bottom;
    /* margin-bottom: 3em; */
    /* float: right; */
}

.backdrop-blur {
  background-color: rgba(255, 255, 255, .4);
}

/* if backdrop support: very transparent and blurred */
/* @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
} */

#theme_box {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	border-radius: 12px;
	position: fixed;
	top: 4em;
	z-index: 100;
  	margin: 0px 20% 0 0;
  	text-align: center;
    vertical-align: text-bottom;
    margin: 0 auto;
    opacity: 0.1;
    transition: opacity 0.25s;
    float: right;
}

#theme_box:hover {
    opacity: 1;
}

.theme_icon {
	padding: 10px;
	color: var(--inactive);
	border-radius: 12px;
	cursor: pointer;
    box-sizing: border-box;
    float:left;
}

.selected {
	background-color: rgba(255, 255, 255, 0.2);
	color: var(--active);
}


.section {
	padding-top: 3vh;
	padding-bottom: 3vh;
	overflow: hidden;
/*	padding-left: calc(-50vw + 50%);
  	padding-right: calc(-50vw + 50%);*/
}

.section h2 {
	color: var(--textwhite);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 4em;
	margin-bottom: 0.25em;
}

.section.video h2 {
	color: var(--film);
}

.section.code h2 {
	color: var(--code);
}

.section.photography h2 {
	color: var(--photography);
}

.section.design h2 {
	color: var(--design);
}

.section img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* A CARD STYLE FLEX BOX */
.project_grid {
	display: flex;
	flex-wrap: wrap;
	/*grid-template-columns: 1fr 1fr 1fr;*/
	margin: 0 -0.5em;
/*	padding-left: 20px;
	padding-right: 20px;*/
	margin-top: 1em;
	margin-bottom: 0.5em;
	justify-content: space-between;
	align-content: stretch;
/*	position: relative;
	top: 40px;
	height: auto;*/
}

.project {
	width: 30vh;
	height: 20vh;
	background-color: black;
	flex-grow: 1;
	flex-shrink: 1;
	border-radius: 10px;
	margin: 0.5em;
    transition: box-shadow 0.25s;
    display: inline;
    position: relative;
}

.project_text_holder {
	display: flex;
    position: absolute;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	height: 30%;
	width: 100%;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0), #000000
    );
    bottom: 0px;
    margin-bottom: 0px;
    border-radius: 0 0 10px 10px;
    font-weight: 900;
}

.project:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.52);
}

.project img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
    opacity: 0.75;
    transition: opacity 0.25s;
}

.project img:hover {
    opacity: 1;
}

.photo_grid {
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 -0.5em;
/*	padding-left: 20px;
	padding-right: 20px;*/
	margin-top: 1em;
	margin-bottom: 0.5em;
	justify-content: space-between;
	align-content: stretch;
/*	position: relative;
	top: 40px;
	height: auto;*/
}

.photo {
	width: 18vh;
	height: 18vh;
	background-color: var(--textwhite);
	flex-grow: 1;
	flex-shrink: 1;
	border-radius: 10px;
	margin: 0.5em;
}

.photo:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.52);
}


header p {
    margin-bottom: 0px;
}

.bold {
	font-weight: 700;
}

.underlined {
	text-decoration: underline;
}

footer p {
	font-family: "Karla";
	font-size: 2.5vh;
	font-weight: 400;
	color: rgb(100,100,100);
	margin: 0;
	padding: 0;
}




.popup {
	position: fixed;
	box-sizing: border-box;
	width: 94vw;
	height: 94vh;
	top:3vh;
	left:3vw;
	background-color: #292e34;
	visibility: hidden;
	border-radius: 1em;
	padding: 1em;
}

.close {
	position: absolute;
	right: 1em;
	top: 1em;
}



.button {
	border-radius: 15px;
	/*margin-top:1vh;*/
	margin-bottom: 1em;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	background-color: rgba(255,255,255,0.1);
	display: inline-block;
	float: right;
}

.button:hover {
	background-color: rgba(255,255,255,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}



.middle {
	position: relative;
}

a {
	text-decoration: underline;
	font-weight: 700;
}

a:visited{
	color:white;
}

a.video{
    color: var(--film)
}

a.code{
    color: var(--code)
}

a.design{
    color: var(--design)
}

a.photography{
    color: var(--photography)
}

a.video:hover {
	background-color: var(--film);
    text-decoration: none;
}

a.code:hover {
	background-color: var(--code);
    text-decoration: none;
}

a.design:hover {
	background-color: var(--design);
    text-decoration: none;
}

a.photography:hover {
	background-color: var(--photography);
    text-decoration: none;
}

.video.section {
	background-color: var(--film-back);
}

.code.section {
	background-color: var(--code-back);
}

.design.section {
	background-color: var(--design-back);
}

.photography.section {
	background-color: var(--photography-back);
}

.video a {
	color: var(--film);
}

.code a {
	color: var(--code);
}

.design a {
	color: var(--design);
}

.photography a {
	color: var(--photography);
}

a:hover {
	color: var(--header-back);
}

.shadowed {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.13);
}

.noScroll {
    overflow: hidden;
    /*position:fixed;*/
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/*.material-icons.white { color: white; }*/
